{% extends 'base.html.twig' %}

{% block body %}
<h1>Politique Cookie</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aperiam nesciunt laboriosam facilis harum? Voluptatum repudiandae officiis corrupti nostrum, accusantium odit impedit magnam totam similique blanditiis ab dolorum eveniet cupiditate?
Repellat voluptatum temporibus, odio provident saepe iusto est voluptas nemo rem vel quos itaque beatae quam alias ipsam delectus corporis aliquid! A, numquam doloremque qui odio eius omnis distinctio voluptatum.
Illum quod reiciendis dolores rem in, blanditiis ipsa, atque aliquid totam a voluptatibus. Incidunt, tenetur! Nam quibusdam eius aliquam et temporibus quod cumque error, eveniet quae, eligendi debitis nihil officia!
Similique beatae deserunt, nesciunt, veniam magnam voluptatem suscipit, repellendus in id voluptatum tempora natus tenetur debitis! Magnam aut vero repellat necessitatibus minima nihil praesentium itaque, eius, ipsum hic delectus ex!
Reprehenderit quo earum dolores quam ipsam error sed neque ex, nihil est porro illo, assumenda necessitatibus tempora odio rem dolorem eum. Exercitationem totam velit blanditiis, mollitia consequatur ab possimus dolorum.
{% endblock %}