{% extends 'base.html.twig' %}

{% block title %}Hello PiliPiliController!{% endblock %}

{% block body %}
    {% if data is empty %}
        <div class="jumbotron">
            <h1>Il n'y a pas de produits</h1>
        </div>
    {% else %}
        {% for product in data %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <h6 class="card-subtitle mb-2 text-muted"> {{product.createdAt | date("d/m/y")}} </h6>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
